body{
  /* rules go here */
 	font-family: "Proxima Nova", "Lucida Grande", Helvetica, sans-serif;
}

nav {
	top: 0;
	width: 100%;
	height: 50px;
}

.left a {
	background: url(BasecampSprite.png) no-repeat;
	display: block;
	width: 150px;
	height: 43px;
	text-indent: -9999px;
}

.left a:hover {
	background-position: 0 -43px;
}

a, a:visited {
	font-size: 14px;
	color: rgb(24, 110, 201);
}

.left {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

.right {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.right a {
	margin-right: 10px;
}


button {
	border-radius: 2px;
	border: 1px solid rgb(29, 87, 148);
	box-shadow: 0 2px rgb(29, 87, 148);
	outline: none;
}

#login {
	min-width: 70px;
	min-height: 30px;
	font-size: 12px;
	background-color: rgb(24, 100, 201);
	color: white;
}

#login:hover {
	background-color: rgb(46, 133, 227);
}

h1 {
	background: url(HeaderPhoto.png) no-repeat;
	text-align: center;
	margin-top: 50px;
	margin: 50px auto 0 auto;
	height: 363px;
	width: 585px;
	text-indent: -9999px;
}