body {
  /* rules go here */
}

nav {
	display: block;
	position: absolute;	
	top: 15px;
	width: 101%;
}

nav div {
	font: 13px Arial;
	display: inline-block;
	float: right;
	margin-right: 40px;
}

nav div > * {
	margin-right: 15px;
}

a #appbox {
	position: relative;
	top: 5px;
}

#signin {
	background-color: rgb(74, 143, 245);
	color: white;
	padding: 0 15px 0 10px;
	text-align: center;
	min-width: 40px;
	height: 30px;
	font: bold 13px Arial, san-serif;
	outline: none;
	border: none;
	border-radius: 2px;
}

#logo {
	width: 275px;
	margin: 200px auto 0 auto;
	display: block;
}

input {
	width: 550px;
	margin: 30px auto 0 auto;
	height: 25px;	
	display: block;
	font-size: 16px;
	font-style: Arial, sans-serif;
	border: 1px solid rgb(216, 216, 216);

}

input:hover {
	border: 1px solid rgb(163, 163, 163);
}

input:focus {
	border: 1px solid rgb(72, 142, 241);
	outline: none;
}

.center {
	display: block;
	text-align: center;
}

button#search, button#lucky {
	margin-right: 10px;
	margin-top: 15px;
	min-width: 25px;
	height: 30px;
	font: bold 11px Arial, san-serif;
	text-align: center;
	border: 1px solid rgb(216, 216, 216);
	outline: none;
	background-color: rgb(242, 242, 242);
	color: rgb(68, 68, 68);
	border-radius: 2px;
}

button#search:hover, button#lucky:hover {
	box-shadow: 0 1px 1px rgb(190, 190, 190);
	color: black;
	border-color: rgb(190, 190, 190);
}

footer {
	display: block;
	position: absolute;
	bottom: 0;
	left: -5px;
	background: rgb(242, 242, 242);
	height: 40px;
	margin: 0;
	width: 101%;
	color: rgb(222, 222, 222);
	border-top: 1px solid rgb(228, 228, 228);
}

footer div {
	font: 13px Arial;
	color: rgb(102, 102, 102);
	display: inline-block;
	
}

#leftfooter {
	float: left;
	margin-top: 13px;
	margin-left: 40px;
	text-align: left;
}

#rightfooter {
	float: right;
	margin-top: 13px;
	text-align: right;
}

footer a {
	margin-right: 30px;
}